* {
    box-sizing: border-box;
}
body {
    background-image: url("../temp/imagens/bgprincesa.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-escala {
    padding: 7px;
    margin: 20px;

}
.cabecalho {
    margin: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.horarioex{
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* DATE */

input[type="date"]{
  background-color: #1eaef1;
  padding: 15px;
  position: relative;
  font-family: "Roboto Mono",monospace;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* BUTTONS */
.btn-del{
    cursor: pointer;
    border-top: 1px solid #96d1f8;
    border: 0.5px solid #0000;
    background: #f02929;
    padding: 8.5px 17px;
    border-radius: 9px;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.imp-button{
    border-top: 1px solid #96d1f8;
    background: #1eaef1;
    padding: 8.5px 17px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #000000;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.menu-button{
    border-top: 1px solid #96d1f8;
    background: #1eaef1;
    padding: 8.5px 17px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #000000;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.input-text{
  padding: 5px 10px;
  width: 65%;
}

.form-submit-button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  background: #0dda8b;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(75, 67, 67);
  text-shadow: none;
  }
  .form-submit-button:hover {
  background: #016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgb(75, 67, 67);
  text-shadow: none;
  }
.nav{
  margin-top: 15px;
}
.horario {
    border: solid 1px;
    background-color: rgba(43, 44, 44, 0.555);
    padding: 15px;
    color: white;
}
.horarioR {
    border: solid 1px;
    background-color: rgba(43, 44, 44, 0.555);
    padding: 15px;
    color: white;
}
.container-horario {
    display: flex;
    justify-content: space-between;
}

.container:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.test1:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.test2:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.horario2 {
    border: solid 2px;
    padding: 10px;
    background-color: rgba(43, 44, 44, 0.555);
    color: white;
}

.naosei p {
    font-size: 23px;
}

.lista {
    font-size: 20px;
}



.container {
    border: solid 1px;
    padding: 5px;
    margin-left: 8px;
}
.test1 {
    border: solid 1px;
    padding: 5px;
    margin-left: 8px;
}
.test2 {
    border: solid 1px;
    padding: 5px;
    margin-left: 8px;

}
.testeR:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.testeR{
    border: solid 1px;
    padding: 5px;
    margin-left: 8px;
}
#horariosExNEscalados {
    margin-top: 20px;
}
.leo {
    border: solid 1px;
    padding: 5px;
    margin-left: 8px;
}

.leo:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

input[type=checkbox]+label.btn {
    padding: 5px 10px;
    margin: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #96d1f8;
    color: #000;
    box-shadow: 0 6px #96d1f8;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
input[type=checkbox]+label.btn:hover {
    box-shadow: 0 4px #96d1f8;
    top: 2px;
}
input[type=checkbox]:checked+label.btn {
    box-shadow: 0 0 #96d1f8;
    top: 6px;
}